.scroll {
  position: fixed;
  z-index: 10000;
  background-color: gray;

  height: 32px;
  width: 32px;
  border-radius: 50%;
  padding: 9px 7px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.go-to-top {
  bottom: 50px;
  right: 16px;
}

.go-to-bottom {
  bottom: 14px;
  right: 16px;
}
