// Custom boostap
.row
  .col-xs-12, .col-xs-8, .col-xs-6, .col-xs-4
    padding-right: 15px
    padding-left: 15px
  .col-xs-12
    width: 100%

  .col-xs-8
    width: 66.7%

  .col-xs-6
    width: 50%

  .col-xs-4
    width: 33.3%

.table
  & > thead
    background-color: #78909c
    color: #fff
    & > tr
      & > .no-line
        border-bottom: none

  & > tbody
    & > tr
      & > .no-line
        border-top: none
      & > .thick-line
        border-top: 2px solid

// ANN Shop
.header
  display: flex
  & > .logo
    min-width: 80px
    max-width: 200px
    max-height: 100px
    & > img
      width: 100%
      height: 100%
  & > .company
    max-height: 100px
    width: 83.3%
    padding-left: 2%

.note
  p
    color: red

.search
  background-color: aliceblue

.sticky
  position: sticky
  top: 0
  overflow: hidden
  z-index: 10
  width: 100%

table
  & > thead
    & > tr
      .index
        text-align: center
        vertical-align: middle
      .image, .sku-tile, .price, .quantiy, .total-price
        text-align: center

  & > tbody
    & > tr
      .index
        text-align: center
        vertical-align: middle
      .image
        text-align: center
        img
          max-width: 85px
      .sku-tile
        text-align: left
      .quantiy
        text-align: center
      .price, .total-price
        text-align: right

.title
  text-align: center
  h1
    display: inline-block
