// Custom boostap
.row
  .col-xs-12, .col-xs-6
    padding-right: 15px
    padding-left: 15px
  .col-xs-12
    width: 100%

  .col-xs-6
    width: 50%

.table
  & > thead
    & > tr
      & > .no-line
        border-bottom: none

  & > tbody
    & > tr
      & > .no-line
        border-top: none
      & > .thick-line
        border-top: 2px solid

.pull-right
  float: right !important

// ANN Shop
.invoice-title
  h2, h3
    display: inline-block
