<configuration>
<system.webServer>
  <rewrite>
    <rules>
      <rule name="Reverse Proxy to API" stopProcessing="true">
          <match url="api\/v1\/.*" />
          <action type="Rewrite" url="http://ann-shop-server.com/{R:0}" />
      </rule>
      <rule name="Reverse Proxy to Image" stopProcessing="true">
          <match url="uploads\/images\/.*" />
          <action type="Rewrite" url="http://hethongann.com/{R:0}" />
      </rule>
      <rule name="Reverse Proxy to Not Image" stopProcessing="true">
          <match url="App_Themes\/Ann\/image\/.*" />
          <action type="Rewrite" url="http://hethongann.com/{R:0}" />
      </rule>
      <rule name="Redirect all requests" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>
</configuration>
